server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/studs
    username: s367243
    password: 10s5iDYWGyVq2DuB
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.fergoeqs.blps1: INFO